<div id="info">
      <div id="neighborhood_details" class="neighborhood_info">
        <h2 id="name">Click on a state to learn about the languages spoken there.</h2>
        <div id="options">

            <h3 class="state_name"></h3>
            <div class="state_language_statistics">
            </div>
            <%= button_to 'Index', { action: index } %>
        </div>
      </div>
  </div>
  <div id="usaMap"></div>
<!-- <div id="map"></div> -->
