<div id="info">
  <div id="neighborhood_details" class="neighborhood_info">
    <h2 id="name">This is a test map of the United States' most commonly spoken second languages.</h2>
    <div id="options">

      <h3 class="state_name"></h3>
      <div class="state_language_statistics">
      </div>

    </div>
  </div>
</div>
<div id="usaMap"></div>
<!-- <div id="map"></div> -->
